<script>
    jQuery(document).ready(function(){
        //Discounts start hidden
        jQuery('.descuento_edicion_container').hide();

        //Toggle discount
        jQuery('[edit="discount"]').click(function(event){
            var editDiscount = jQuery(this).parent().parent().find('.descuento_edicion_container');
            jQuery('.descuento_edicion_container').each(function(key, value){
                if (this != editDiscount.get(0)) {
                    jQuery(value).slideUp('slow');
                }
            })
            jQuery(editDiscount).slideToggle('slow');
        })
    })
</script>

<div class="lista_pedidos_container">
    <div class="legend_container">
            {% set currentSort = sortManager.currentSort %}
            <div class="usuario_nombre_legend {% if(sortManager.sorts['nombre'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['nombre'].url}}"><span>Cliente</span></a></div>
            <div class="usuario_nombre_fecha {% if(sortManager.sorts['fecha'] == currentSort) %}current{% endif %}"><a href="{{ sortManager.sorts['fecha'].url}}">Fecha</a></div>
    </div>
    {% for clientForm in clientForms %}
        {%set client = clientForm.vars.value%}
        <div class="descuento_container">
            <div class="legend_container">
                <div class="usuario_nombre_legend"><a href="#"><span>{{ client.username }}</span></a></div>
                <div class="usuario_nombre_fecha ">{{ client.createdAt | date('d/m/y') }}</div>
                <div class="editar_desc_categ_legend" edit="discount"><a href="#">Editar</a></div>
            </div>
            <div class="descuento_edicion_container">
                {% include 'MQMShopBundle:Backend/User/Client:showClientDetails.partialhtml.twig'
                with {'clientForm' : clientForm, 'client' : client} %}
            </div>
        </div>
    {% endfor %}
</div>