{% extends 'MQMShopBundle:Backend/User:layout.html.twig' %}

{% block left_content %}
<form action="{{ path('TKShopBackendUserCreate') }}" method="post" {{ form_enctype(form) }}>
    {% include 'MQMShopBundle:Backend/User/RegisterClient:formBody.partialhtml.twig' %}
</form>

{% endblock left_content %}





