<div class="input_container_user">
    <p class="text_bold">Todavía no está subscrito al <strong class="blue">NewsLetter</strong>, le permitiría recibir las últimas novedades y ofertas destacadas en su correo electrónico</p>
    <p class="text_general"><a href="{{ path('TKShopFrontendNewsLetterSubscribe') }}">Para darse de alta haga click aquí</a></p>

</div>