<div class="input_container_user">
    <p class="text_bold">Se encuentra subscrito al <strong class="blue">NewsLetter</strong>, esto le permite recibir correos electronicos con las últimas ofertas y novedades.</p>
    <p class="text_general"><a href="{{ path('TKShopFrontendNewsLetterUnsubscribe') }}">Para darse de baja haga click aquí</a></p>

</div>