<div class="legend_container">
    <div class="producto_legend"><a href="#">Producto</a></div>
    <div class="ref_legend"><a href="#">Referencia</a></div>
    <div class="precio_ud_legend"><a href="#">Precio/UD</a></div>
    <div class="cantidad_legend"><a href="#">Cantidad</a></div>
    <div class="subtotat_legend"><a href="#">Subtotal</a></div>
</div>