{% extends 'MQMShopBundle:Backend/User:layout.html.twig' %}

{% block left_content %}

<form action="{{ path('TKShopBackendStaffUserUpdate', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }}>
    {% include 'MQMShopBundle:Backend/User/RegisterStaff:editFormBody.partialhtml.twig' %}
</form>

{% endblock left_content %}





